.card {
    display: flex;
    flex-wrap: wrap;
    padding: 0 16rem 7rem;
    -webkit-perspective: 600px;
    perspective: 600px;

    @include respond(tab-land) {
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-bottom: 4rem;
    }

    @include respond(phone) {
        perspective: 0px;
}

    &__item {
        flex: 0 0 30.7%;
        padding: 5.4rem 2.8rem 4.8rem 2.8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $headrs-color;
        box-shadow: 0 4px 0 $headrs-color;
        transition: transform 1.2s ease,
                    box-shadow .5s ease;
        opacity: .2;

        @include respond(tab-port) {
            flex: 0 0 40%;

            &:not(:last-child) {
                margin-bottom: 3rem;
            }
        }

        @include respond(phone) {
            flex: 0 0 100%;
        }

        &:first-child {
            padding: 5.4rem 2.6rem 4.8rem 2.6rem;
        }

        &:not(:last-child) {
            margin-right: 3rem;

            @include respond(phone) {
                margin-right: 0;
            }
        }

        &:hover {
            box-shadow: 0 4px 0 $main-color;
        }

        &:hover .card__icon-wrapper {
            transform: scale(1.1);
        }

        &--card-off {
            transform: rotateY(100deg);
        }
    }

    &__item.card-on {
        opacity: 1;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__icon-wrapper {
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
        background-color: $main-color;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform .5s ease;
    }

    &__icon {
        width: 7.5rem;
    }

    &__heading {
        color: #e5e5e5;
        font-size: 1.6rem;
        line-height: 2.25;
        text-transform: uppercase;
        text-align: center; 
        margin: 3rem 1.8rem;
    }

    &__desc {
        color: #828f9d;
        font-size: 1.4rem;
        line-height: 1.2;
        text-align: center;

        & > * {
            color: $main-color;
            font-weight: bold;
        }
    }
}