.cta {
    display: flex;
    justify-content: center;
    align-items: center;

    &--property {
        padding-top: 7rem;
        background-color: #2c3949;

        @include respond(tab-port) {
            margin-top: 1rem;
        }
    }

    &--grey {
        background-color: $grey-dark;
    }

    &--navy {
        background-color: #394B5F;
    }

    &--dark-grey {
        background-color: $grey-dark-1;
    }

    &__btn {
        margin: 6rem 0;
        display: inline-block;
        background-color: $main-color;
        padding: 1.5rem 3rem;
        color: #111;
        font-family: "PFCentroSlabProBold";
        font-size: 2rem;
        text-decoration: none;
        box-shadow: inset 0 -3px 0 #b97200;
        transition: background-color .2s;
        text-align: center;

        &:hover,
        &:active {
            background-color: #f3a72e;
        }
    }
}