.form {
    flex: 0 0 32%;
    background-color: rgba($headrs-color, .8);
    display: flex;
    flex-direction: column;
    padding: 3.5rem;
    box-shadow: 0 4px 0 #1c242c;

    &--grey {
        background-color: #ddd;
        box-shadow: 0 4px 0 #828282;
        margin-top: 7rem;
        flex: 0 0 33%;
    }

    @include respond(tab-port) {
        flex: 100%;
    }

    &__group {
        display: flex;
        flex-direction: column;
    }

    &__heading {
        color: #fff;
        font-family: "PFCentroSlabProMedium";
        font-size: 2.8rem;
        line-height: 1;
        margin-bottom: 1rem;

        &--grey {
            color: #2c3949;
        }
    }

    &__text {
        color: rgba(255, 255, 255, .6);
        font-size: 1.3rem;
        line-height: 1.4375;
        width: 90%;
        margin-bottom: 2rem;

        &--grey {
            color: #5e6267;
        }
    }

    &__label {
        color: rgba(255, 255, 255, .4);
        font-size: 1.3rem;
        line-height: 2.6;

        &--grey {
            color: #778390;
        }
    }

    &__input {
        margin-bottom: 2rem;
        padding: 1rem 0;
        background-color: #34465a;
        box-shadow: 0 -3px 0 #1f2a36;
        border: none;
        color: #ddd;

        &--grey {
            background-color: silver;
            color: #333;
        }

        &:focus {
            outline: none;
        }
    }

    &__sent {
        background-color: $main-color;
        padding: 1.2rem 3rem;
        margin-top: 2rem;
        color: #111;
        font-family: "PFCentroSlabProBold";
        font-size: 2rem;
        text-align: center;
        border: none;
        cursor: pointer;
        box-shadow: inset 0 -3px 0 #b97200;
        align-self: center;
        border-radius: 2px;
        transition: all .2s;

        &:hover,
        &:active {
            background-color: #f3a72e;
        }
    }
}

#callback {
    position: relative;
    margin: 0 auto;
    width: 50%;
    background-color: $headrs-color; 

    @include respond(tab-port) {
        width: 80%;
    }
}

.mfp-fade {
    &.mfp-bg {
      opacity: 0;
      -webkit-transition: all 0.15s ease-out;
      -moz-transition: all 0.15s ease-out;
      transition: all 0.15s ease-out;
      &.mfp-ready {
        opacity: 0.8;
      }
      &.mfp-removing {
        opacity: 0;
      }
    }
    &.mfp-wrap {
      .mfp-content {
        opacity: 0;
        -webkit-transition: all 0.15s ease-out;
        -moz-transition: all 0.15s ease-out;
        transition: all 0.15s ease-out;
      }
      &.mfp-ready .mfp-content {
        opacity: 1;
      }
      &.mfp-removing .mfp-content {
        opacity: 0;
      }
    }
  }